#pragma code_page(65001)
1 ICON "app.ico"

1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEOS 0x40004
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404b0"
    BEGIN
      VALUE "FileDescription", "定时关机助手（YunTimer 复刻版）"
      VALUE "ProductName", "定时关机助手"
      VALUE "FileVersion", "0.1"
      VALUE "ProductVersion", "0.1"
      VALUE "OriginalFilename", "定时关机助手.exe"
      VALUE "LegalCopyright", "MIT License, Copyright (c) 2026 118coder"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 0x04B0
  END
END
